*{
    padding: 0;
    margin: 0;
}

.wraf{
    width: 800px;
    height: auto;
    /* background: gold; */
    margin: auto;
}

.part_2{
    width: 50%;
    height: auto;
    /* background: magenta; */
    float: left;
    
}

.part_3{
    width: 50%;
    height: auto;
    /* background: rgb(251, 255, 11); */
    float: right;
}

.main_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    box-sizing:border-box;
    border-radius:15px
}

.part_2_1{
    width: 75%;
    height: auto;
    /* background: gold; */
    float: left;
}

.part_2_2{
    width: 25%;
    height: auto;
    /* background: red; */
    float: right;
}

.part_1 h2{
    font-size: 35px;
    margin: 10px 0px 5px 25px;
}

.part_1 p{
    font-size: 18px;
    margin: 10px 0px 5px 25px;
    text-decoration: none;
}

.part_1{
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

p{
    margin-left: 15px;
    padding: 5px;
    text-decoration: none;
}


h3 a:hover{
    color: blue;
    text-decoration: underline;
}

.pp{
    margin-bottom: 20px;
}
h3 a{
    color: black;
    text-decoration: none;
    transition: 0.9s all;
    margin-left: 20px;
    display: block;
    font-size: 20px;
}
